# you can do a requirements.txt file like this if you want
wheel
torch
torchtext
torchaudio
sklearn
numpy
division
argparse
os
system
csv
pandas
numpy
subprocess
commands
matplotlib
pdb
glob
random
h5py
kaldi_io
time
math
pprint
pickle
sklearn
scipy